{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'notifications'%}">
      <div class="card" style="width: 34rem;height:28rem;">
        <img class="card-img-top dark" src="https://media.istockphoto.com/photos/notifications-message-alert-screen-icon-and-sent-to-recipient-to-picture-id1310732659?b=1&k=20&m=1310732659&s=170667a&w=0&h=lsqa4Q3vC5m9fSMIW_b-LPyikOCntiYd_plk6ETbo8s=" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Notifications</h4>
        </div>
      </div>
    </a>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'blog'%}">
      <div class="card" style="width: 34rem;height:28rem;">
        <img class="card-img-top dark" src="https://images.unsplash.com/photo-1620372730817-2cafe7a8dc15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHNlY3VyaXR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Blog Posts</h4>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a href="{% url 'health'%}">
      <div class="card" style="width: 22.5rem;height:15rem;">
        <img class="card-img-top dark" src="https://media.istockphoto.com/photos/mature-doctor-and-nurse-discussing-patient-case-picture-id1307543555?b=1&k=20&m=1307543555&s=170667a&w=0&h=KKk1RkwzUkT_a6Kqf0jh7aBEVpIMG048FALjEAPyDp0=" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Health Services</h4>
        </div>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a href="{% url 'authorities'%}">
      <div class="card" style="width: 22.5rem;height:15rem;">
        <img class="card-img-top dark" src="https://images.unsplash.com/photo-1582510810295-bf11cd55dd6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXV0aG9yaXRpZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Authorities</h4>
        </div>
      </div>
    </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a href="{% url 'businesses'%}">
      <div class="card" style="width: 22.5rem;height:15rem;">
        <img class="card-img-top dark" src="https://images.unsplash.com/photo-1579532536935-619928decd08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG5ld3NwYXBlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Businesses</h4>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

<style>
.dark{
  filter: brightness(85%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
  position: relative;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}
.card img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(50%);

}
.container {
  padding-left: 0;
  padding-right: 0;

}

</style>
{% endblock %}